# IP of the machine you want to access.
app.injectorIP=
# Name of the database user.
app.injectorUserName=
# Password of the user.
app.injectorPasswd=
# Name of the table you want to copy in/out.
app.TableName=
# Delimiter used in which .txt file will be inserted to table.
app.delimiter=
#Path of the .txt file which .txt file will be inserted to table.
app.loadPath=
#Path of the .txt file which .txt file will be saved to machine.
app.savePath=



